<div class="row animated fadeIn">
  <div class="col-sm-12 col-md-4 mb-4">
    <div class="card border-light bg-light">
      <div class="card-body">
        <div class="thumbs">
          <fa-icon icon="camera-retro" size="lg"></fa-icon>
        </div>
        <div class="credentials">
          <p class="card-title">Alter ego</p>
          <span class="text-muted pl-2">Nome Real</span>
        </div>
        <div class="card-stats ">
          <p>
           Descrição do angulador...
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="false" class="row">
  <div class="col-12 empty-container">
    <h1 class="text-muted">Nenhum Angulador Encontrado</h1>
    <p class="text-muted">Convoque um agora mesmo!</p>
  </div>
</div>
<div class="row">
  <div class="col-12 text-center">
    Paginação......
  </div>
</div>
