<div *ngIf="data && data.length" class="row animated fadeIn">
  <div
    class="col-sm-12 col-md-4 mb-4"
    *ngFor="let angulator of data | paginate: { itemsPerPage: size, currentPage: page, totalItems: totalRegister }"
  >
    <div class="card border-light bg-light" (click)="clickOnCard(angulator.id)">
      <div class="card-body">
        <div class="thumbs">
          <img *ngIf="angulator.thumbs" [src]="angulator.thumbs" alt="thumb" />
          <fa-icon *ngIf="!angulator.thumbs" icon="camera-retro" size="lg"></fa-icon>
        </div>
        <div class="credentials">
          <p class="card-title">{{ angulator.alterEgo }}</p>
          <span class="text-muted pl-2">{{ angulator.realName }}</span>
        </div>
        <div class="card-stats ">
          <p>
            {{ sliceText(angulator.description) }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!data || !data.length" class="row">
  <div class="col-12 empty-container">
    <h1 class="text-muted">Nenhum Angulador Encontrado</h1>
    <p class="text-muted">Convoque um agora mesmo!</p>
  </div>
</div>
<div class="row" *ngIf="data && data.length">
  <div class="col-12 text-center">
    <pagination-controls
      [autoHide]="true"
      [maxSize]="10"
      nextLabel="Próximo"
      previousLabel="Anterior"
      (pageChange)="pageClick($event)"
    ></pagination-controls>
  </div>
</div>
