<div class="row">
  <div class="col-12 text-center">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link text-danger" href="#">Anterior</a></li>
        <ng-template ngFor let-page [ngForOf]="pages">
          <li class="page-item">
            <a class="page-link text-danger" href="#">{{ page }}</a>
          </li>
        </ng-template>
        <li class="page-item"><a class="page-link text-danger" href="#">Proximo</a></li>
      </ul>
    </nav>
  </div>
</div>
