<div class="card">
  <div class="card-header w-100">
    <span class="avengers" >Convocar Anguladores</span>
    <span class="avengers" *ngIf="false">Atualizar Anguladores</span>

    <button *ngIf="false" class="btn btn-secondary btn-sm float-right" routerLinkActive="router-link-active">
      <fa-icon icon="arrow-circle-left" size="lg"></fa-icon> Voltar
    </button>
  </div>

  <div class="card-body bg-light">
    <form>
      <div class="row">
        <div class="col-sm-12 col-md-6 form-group" *ngIf="true">
          <label for="thumbs">Foto</label>
          <input
            type="file"
            accept=".jpg,.png,.gif,.jpeg"
            name="thumbs"
            class="form-control"
            id="thumbs"
          />
        </div>

        <div class="col-sm-12 col-md-3" [class.offset-md-3]="true">
          <div class="angulator-thumb">
            <img *ngIf="false" [src]="''" alt="" />
            <fa-icon *ngIf="true" icon="camera-retro" size="3x"></fa-icon>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6 form-group">
          <label for="alterego">Alter Ego</label>
          <input
            type="text"
            name="alterEgo"
            class="form-control"
            id="alterego"
            placeholder="Ex: TestMan, Runtimer"
          />
        </div>
        <div class="col-sm-12 col-md-6 form-group">
          <label for="realName">Nome Real</label>
          <input
            type="text"
            name="realName"
            class="form-control"
            id="realName"
            placeholder="Seu nome"
          />
        </div>

        <div class="col-sm-12 form-group">
          <label for="description">Sobre o Heroi</label>
          <textarea
            name="description"
            id="description"
            class="form-control"
            cols="30"
            rows="5"
            placeholder="Fale um pouco sobre as caracteristicas do seu heroi"
          ></textarea>
        </div>

        <div class="col-sm-12 col-md-2 form-group">
          <label for="strength">Força</label>
          <input
            type="number"
            name="strength"
            min="0"
            max="100"
            class="form-control"
            id="strength"
            placeholder="00"
          />
        </div>

        <div class="col-sm-12 col-md-2 form-group">
          <label for="intelligence">Inteligência</label>
          <input
            type="number"
            name="intelligence"
            min="0"
            max="100"
            class="form-control"
            id="intelligence"
            placeholder="00"
          />
        </div>

        <div class="col-sm-12 col-md-2 form-group">
          <label for="dexterity">Destreza</label>
          <input
            type="number"
            name="dexterity"
            min="0"
            max="100"
            class="form-control"
            id="dexterity"
            placeholder="00"
          />
        </div>

        <div class="col-sm-12 col-md-6 form-group">
          <label for="status">Grade</label>
          <select
            name="status"
            id="status"
            class="form-control"
          >
            <option value="">Selecione</option>
            <option value="1">Lamentável</option>
            <option value="2">Muito Fraco</option>
            <option value="3">Fraco</option>
            <option value="4">Normal</option>
            <option value="5">Bom</option>
            <option value="6">Espetacular</option>
            <option value="7">Épico</option>
            <option value="8">Divino</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-12 text-right" *ngIf="true">
          <button *ngIf="!loading" class="btn btn-danger mr-2">
            Confirmar Convocaçao
          </button>
          <button *ngIf="false" class="btn btn-danger mr-2" >
            <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon> Aguarde...
          </button>
          <button class="btn btn-secondary">Cancelar</button>
        </div>

        <div class="col-12 text-center" *ngIf="false">
          <button class="btn btn-danger mr-2">Editar Convocado</button>
        </div>
      </div>
    </form>
  </div>
</div>
